<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="outDir" value="../../../outDir/" />
    <add key="outDirForDownload" value="../../../outDir/files/" />
    <add key="outFileName" value="output" />
    <add key="bestFileName" value="best" />
    <add key="useSql" value="false" />
    <add key="sqlConnection" value="Data Source=localhost;Initial Catalog=MmCifFiles; Integrated Security=True"/>
    <add key="numberToCheck" value="500"/>
  </appSettings>
</configuration>